body {
  background-color: silver;
}

#one {
  height: 100px;
  width: 100px;
  background-color: red;
}

#two {
  height: 100px;
  width: 100px;
  background-color: yellow;
}

#three {
  height: 100px;
  width: 100px;
  background-color: orange;
}

#four {
  height: 100px;
  width: 100px;
  background-color: greenyellow;
}

#five {
  height: 100px;
  width: 100px;
  background-color: violet;
}

#six {
  height: 100px;
  width: 100px;
  background-color: limegreen;
}

#seven {
  height: 100px;
  width: 100px;
  background-color: purple;
}

#eight {
  height: 100px;
  width: 100px;
  background-color: cyan;
}

#nine {
  height: 100px;
  width: 100px;
  background-color: blue;
}
